/**
 * CSS STYLING FILE
 * Created by Eugene Mutai
 * Date: 4/13/13
 * Time: 5:52 PM
 * Description: These are basic styles that come in handy time to time
 * @import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500);
 */

/*BRAND FONT*/
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway'), url('../fonts/Raleway-Light.ttf') format('truetype');
}

/* general purpose */
html, body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    cursor: default;
    overflow-x: hidden;
}
.wf-active body{font-family: 'raleway', sans-serif;}
a{text-decoration: none}

/******* Colors *******/
.red{color: #e74c3c}
.orange{color: #f39c12}
.green{color: #2ecc71}
.yellow{color: #f1c40f}
.blue{color: #3498DB}
.white{color: #fefefe}
.grey{color: #bdc3c7}

/****** Background colors *************/
.red-bg{background: #e74c3c}
.orange-bg{background: #f39c12}
.green-bg{background: #2ecc71}
.yellow-bg{background: #f1c40f}
.blue-bg{background: #3498DB}
.grey-bg{color: #bdc3c7}

/* ---------- PAGE TRANSITIONS --------- */
/*** adds the sliding animation to the page ***/
.panel{
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
    margin-left: -150%;
    z-index:999;
    overflow-x: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel:target{
    margin-left: 0%;
    background-color: #b1e583;
}

/*** splash page, or app full page rendering ***/
.splash, .app-page{width: 100%; height: 100%; margin:0; overflow: hidden;}
.overlay{background: #000; opacity: .7; position: fixed; top: 0; left: 0; z-index: 99; display: none;}

/********* OTHER DEFAULTS ******/
.line{position: fixed; top: 0; left: 0; height: 100%}
.line img{height: 100%}
.space{margin-top: 10%}
.content{width: 80%; margin:auto}

.left{float: left}
.right{float: right}
.padding{padding: 10px}
.small-padding{padding: 5px}
.faded{opacity: 0.4}
.largetext{font-size: 1.5em; padding: 0; margin: 0}
.br{margin: 15px}
.clear{clear: both;}
.span{width: 100px}
.span-1{width: 200px}
.span-2{width: 300px}
.span-3{width: 400px}
.span-4{width: 100%}
.uppercase{text-transform: uppercase}

.border{border-width: 3px; border-style: solid; border-radius: 10px}
.curves{border-radius: 5px}
.link{ cursor: pointer;}
.hide{display: none}

.normal{font-weight: normal}

/* Your own css should follow from here */
.small-padding{padding: 0.3em;}
.error span{color: #e74c3c;}
.no-scroll{height: 100%; overflow-y: scroll; overflow-x: hidden}