/**
 * CSS STYLING FILE
 * Created by Eugene Mutai
 * Date: 27/04/2015
 * Time: 09:04
 * Description: Custom CSS of the application
 * @import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500);
 */

h1 {
    font-size: 7em !important;
    font-family: 'Montserrat Subrayada', sans-serif;
    letter-spacing: 5px;
}

h1 + h2 {
    font-size: 3em;
}

.content h2 {
    font-weight: bold;
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    /*text-decoration: underline;*/
}

pre {
    margin: 5% 0;
}

code,
pre,
button,
a.btn {
    border-radius: 0;
}

button,
a.btn {
    font-size: 1.25em
}

blockquote {
    color: #95a5a6;
    background: #ecf0f1;
    border-left-color: #e74c3c
}

.header{
    background: #da123a;
    background: -moz-linear-gradient(-45deg, #da123a 0%, #f7181c 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #da123a), color-stop(100%, #f7181c));
    background: -webkit-linear-gradient(-45deg, #da123a 0%, #f7181c 100%);
    background: -o-linear-gradient(-45deg, #da123a 0%, #f7181c 100%);
    background: -ms-linear-gradient(-45deg, #da123a 0%, #f7181c 100%);
    background: linear-gradient(135deg, #da123a 0%, #f7181c 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#da123a', endColorstr='#f7181c', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    /*background-color: -webkit-linear-gradient(45deg, #da123a 10%, #d14233 90%);*/
    /*background-color: linear-gradient(45deg, #da123a 10%, #d14233 90%);*/
    /*overflow: hidden;*/
    /*background-color: #da123a;*/
}

.header > .jumbotron {
    background: url("../images/blue_knights.png") no-repeat;
    background-position: 100% 0;
    background-size: 38% auto;
    padding-bottom: 7.5%;
    margin-bottom: 0
}

.jumbotron a.btn {
    margin: 0 1%;
}

.jumbotron a.btn i.fa {
    padding-right: 5px;
}

.jumbotron a.btn:first-child {
    margin: 0 0;
}

.sidebar ul li {
    list-style-type: none;
    list-style: none;
    font-weight: bold;
    font-size: 1.5em;
    font-family: 'Montserrat Subrayada', sans-serif;
}

.sidebar ul li a {
    color: #DA123A;
    text-decoration: none;
    padding: 5%;
    display: block;
}

.sidebar ul li a:hover {
    background: #DA123A;
    color: white;
    text-decoration: none;
}

.content,
.content-fluid {
    font-size: 1.5em !important;
}

.content h2,
.content h3,
.content h4,
footer {
    font-family: 'Montserrat Subrayada', sans-serif;
    /*letter-spacing: 2px;*/
}
