.footer.text-center
    h4
        p.text-center.text-muted.small-padding
            | © 2014, with&nbsp;
            span.fa.fa-heart.red
            | &nbsp;by <a style="font-weight: bold" class="red" href="http://twitter.com/kn9ts">Eugene Mutai</a>