head
    title Knightstart -- Sample Page

    // Site Necessities
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='cleartype', content='on')

    //- Favicons
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    //- link(rel="shortcut icon" type="image/png" href="")
    //- link(rel="shortcut icon" type="image/x-icon" href="")

    //- Twitter Bootstrap
    //- Sleek, intuitive, and powerful mobile first front-end frameworks for faster and easier web development.
    //- Bootstrap easily and efficiently scales your project with one code base, from phones to tablets to desktops.
    // http://getbootstrap.com/components
    link(rel='stylesheet', href='../app/third_party/bootstrap/dist/css/bootstrap.css')
    //- link(rel="stylesheet" href="app/third_party/bootstrap/dist/css/bootstrap-theme.css")
    link(rel='stylesheet', href='../app/third_party/fontawesome/css/font-awesome.css')

    // Your stylesheets
    link(rel='stylesheet', href='../app/css/application.css')