<div class="col-sm-12 col-md-12 header">
    <div class="jumbotron red-bg white">
        <div class="container">
            <h1 class="bold uppercase">{{ site.project_name }}</h1>
            <h2>{{ site.description }}</h2>
            <div class="space"></div>
            <a href="{{ site.zip_url }}" class="btn btn-md btn-default"><i class="fa fa-file-archive-o"></i>Download .zip</a>
            <a href="{{ site.tar_url }}" class="btn btn-md btn-default"><i class="fa fa-file-archive-o"></i>Download .tar.gz</a>
            <a href="{{ site.project_url }}" class="btn btn-md btn-default pull-right"><i class="fa fa-github-alt"></i>View on Github</a>
        </div>
    </div>
</div>
<!--
<div class="trigger">
    {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endfor %}
</div>
-->
