<div class="col-sm-12 col-md-12">
    <div class="jumbotron red-bg white">
        <div class="container">
            <h1 class="bold uppercase">Knightstart</h1>
            <p>{{ site.description }}</p>

            <a href="" class="btn btn-md btn-default"><i class="fa fa-file-archive-o"></i>Download .zip</a>
            <a href="" class="btn btn-md btn-default"><i class="fa fa-file-archive-o"></i>Download .tar.gz</a>
            <a href="" class="btn btn-md btn-default pull-right"><i class="fa fa-github-alt"></i>View on Github</a>
        </div>
    </div>
</div>
<!--
<div class="trigger">
    {% for page in site.pages %}
        {% if page.title %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
    {% endfor %}
</div>
-->
