<head>
    <title>{{ site.title }}</title>
    <!-- Site Necessities-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="canonical" href="{{ page.url | replace:'index.html', '' | prepend: site.baseurl | prepend: site.url }}">

    <!-- <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" /> -->

    <meta name="keywords" content="">
    <meta http-equiv="cleartype" content="on">
    <!-- http://getbootstrap.com/components-->
    <!-- <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="{{ "/css/bower_assets/bootstrap/dist/css/bootstrap.css" | prepend: site.baseurl }}">
    <!-- <link rel="stylesheet" href="{{ "/css/app/bower_assets/fontawesome/css/font-awesome.css" | prepend: site.baseurl }}"> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Your stylesheets-->
    <link rel="stylesheet" href="{{ "/css/app/css/utilities.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/app/css/application.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">
</head>
