extends layouts/master

block content
    .row
        .col-sm-offset-2.col-sm-8.col-xs-12
            .container-fluid
                .header
                    .row
                        .col-xs-12.col-sm-5.text-center
                            h3.text-muted KnightStart
                        .col-xs-12.col-sm-7
                            ul.nav.nav-pills.small-padding
                                li.active: a(href='#') Home
                                li: a(href='#') About
                                li: a(href='#') Contact
                .jumbotron.text-center
                    h1 'Ayyee, 'Ayyee!
                    p.lead Always a pleasure scaffolding your apps.
                    p
                        a.btn.btn-lg.btn-default(href='http://twitter.com/jheneknights')
                            span.fa.fa-check-square-o &nbsp;
                            | Hapo Sawaa Kaabisa!

                .row.marketing
                    .col-lg-12
                        h2 Bootstrap
                            p.lead.text-muted.bg-warning.small-padding.curves
                                | Sleek, intuitive, and powerful mobile first front-end frameworks for faster and easier web development.

                        //- h2 Modernizr
                            p.lead.text-muted.bg-warning.small-padding.curves Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.

                        h2 GruntJS: small the JavaScript Task Runner
                            p.lead.text-muted.bg-warning.small-padding.curves
                                | Why use a task runner? In one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes.

