<!--
/**
 * Created by Eugene Mutai
 * Twitter: http://twitter.com/jheneknights
 * Email: eugenemutai@gmail.com
 * Date: 06/04/14 (Updated on 18/11/14)
 * Time: 12:45 PM
 * Description: Simple HTML5 application template to get you started.
 * ------ "How does somebody know what they want if they haven’t even seen it?" - Steve Jobs. ------
 *        _ _                       _  __      _       _     _
 *       (_) |__   ___ _ __   ___  | |/ /_ __ (_) __ _| |__ | |_ ___
 *       | | '_ \ / _ \ '_ \ / _ \ | ' /| '_ \| |/ _` | '_ \| __/ __|
 *       | | | | |  __/ | | |  __/ | . \| | | | | (_| | | | | |_\__ \
 *      _/ |_| |_|\___|_| |_|\___| |_|\_\_| |_|_|\__, |_| |_|\__|___/
 *     |__/                                      |___/
 */
-->
<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    <div class="row">
        <!-- The header -->
        {% include header.html %}

        <div class="col-sm-12 col-md-12">
            <div class="row pale-grey-bg">

                <!-- Sidebar -->
                {% include sidebar.html %}

                {{ content }}

            </div>
        </div>

        {% include footer.html %}
    </div>

    {% include scripts.html %}
</body>

</html>
